.start-point.mat-icon{
  height: 16px;
  width: 16px;
  font-size: 16px;
  line-height: 16px;
  cursor: pointer;
  color: #3c3c3c;
}
.start-point.mat-icon:hover{
  color: #979797;
}
.start-point.mat-icon:active{
  color: #787878;
}