<mat-card class="topo-detail" style="height: 100%;">
  <mat-card-title>{{device && device.name}}</mat-card-title>
  <mat-card-content class="topo-detail-pannel">
    <ng-container *ngIf="!(loading$|async); else loadingTpl">
      <mat-tab-group animationDuration="0ms">
        <mat-tab label="端口">
          <ng-template matTabContent>
            <app-data-table [model]="portTableModel" [data]="data[0]">
            </app-data-table>
          </ng-template>
        </mat-tab>
        <ng-container *ngIf="device && device.type === 'router'">
          <mat-tab label="NAT">
            <ng-template matTabContent>
              <app-data-table [model]="natTableModel" [data]="data[1]">
              </app-data-table>
            </ng-template>
          </mat-tab>
        </ng-container>
      </mat-tab-group>
    </ng-container>
  </mat-card-content>
</mat-card>
<ng-template #loadingTpl>
  <div class="topo-content" appLoading></div>
</ng-template>