.mat-drawer-container.topo-container{
  height: 100%;
}
.mat-sidenav.detailPannel{
  width: 430px;
  background: #fafafa;
}
.topo-content {
  height: 100%;
}
.noDataShow {
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}
.tree-topo-container {
  height: 100%;
  display: flex;
}