//---------------- layout => START --------------------------------------------------------------------------
$acc_layout_component_left_draw_width: 200px;
$acc_layout_component_content_margin: 24px;
$acc_layout_component_content_margin_double: 48px;

//---------------- header => START --------------------------------------------------------------------------
$acc_header_height: 54px;
$acc_header_button_padding: 0;
$acc_header_button_width: 50px;
$acc_header_button_height: $acc_header_height;
$acc_header_user_button_padding: 0 8px;
$acc_header_user_button_min_width: 175px;
$acc_header_user_button_min_width: 175px;
$acc_header_user_button_select_min_width: $acc_header_user_button_min_width;
$acc_header_user_button_select_content_padding: 0;
$acc_header_user_button_select_icon_size: 16px;

//----------------- left nav => START -------------------------------------------------------------------------
$acc_menu_list_item_height: 46px;
$acc_menu_list_item_icon_width: 14px;
$acc_menu_list_item_icon_margin_right: 10px;
$acc_menu_list_item_expand_icon_width: 16px;
$acc_menu_list_item_name_font-size: 13px;

$acc_menu_header_height: 42px;

@mixin little_button_icon {
  width: 16px;
  height: 16px;
  font-size: 16px;
}