<div class="modal-container">
  <div class="modal-header">
    <div class="modal-header-inner">
      <div class="modal-header-text">{{title}}</div>
      <div class="flex-grow"></div>
      <div class="modal-header-actions">
        <button mat-stroked-button (click)="close()">{{'取消'}}</button>
        <button mat-raised-button (click)="submit()">
          {{'提交'}}
        </button>
      </div>
    </div>
  </div>
  <div class="modal-content">
    <ng-template #target (attached)="receiveReference($event)" [cdkPortalOutlet]="modalOutlet"></ng-template>
  </div>
</div>
