<mat-toolbar color="primary" class="mat-elevation-z1 top-nav">
  <span class="logo"></span>
  <span>OVN-Kube</span>
  <span class="horizon_space"></span>
  <!-- <button mat-button [matMenuTriggerFor]="menu" class="user_select_button" aria-label="Example icon-button with a menu">
    <mat-icon style="margin-right: 8px">account_circle</mat-icon>
    {{userName}}
    <mat-icon>arrow_drop_down</mat-icon>
  </button>
  <mat-menu #menu="matMenu" [class]='"top-nav__header_menu"'>
    <button mat-menu-item (click)="clickForLogout()">
      <mat-icon>power_settings_new</mat-icon>
      <span>退出</span>
    </button>
  </mat-menu> -->
</mat-toolbar>
